html, body{
	font-family: Trebuchet MS;
	margin: 0;
}


header{
	background-color: #3973ac;
	padding: 10px;
	text-align: center;

}

h1{
	font-size: 65px;
	color: #992600;
}

h3{
	text-align: center;
	font-size: 1.5em;
}

header img{
	border-radius: 280px;
	width: 400px;
}

.row{
	display: flex;
	padding-top: 30px;
}

.column{
	flex: 33.33%;
	padding: 5px;
}

.content{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 30px;
	background-color: #3973ac;
}


.timeline{
	list-style: none;
	padding: 0 0 20px 0;
	margin: 0;
}

.achievements{
	list-style: none;
	margin: 0;
	text-align: center;
}

a{
	color: yellow;
	text-decoration: none;

}

footer{
	padding: 40px 20px;
	background-color: lightgrey;
	margin-top: 20px;

}

footer ul{
	text-align: center;
}

footer ul li{
	display: inline-block;
	margin: 0 1px;

}

.wrapper{
	background-color: #3973ac;
}